.contacto_contenedor {
    width: 300px;
    background-color: #aabbc1;
    border-radius: 3px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.contacto_input {
    outline-color: #ec707e !important;
}

.contacto_container {
    background: linear-gradient(0deg, rgba(16,46,96,1) 16%, rgba(255,255,255,1) 100%);
}

.contacto_titulo_container {
    display: flex;
    justify-content: center;
    align-items: center;
}




.formulario_enviado {
    display: flex;
    justify-content: center;
}

.tabla_defecto {
    font-weight: bold;
}

form .error {
    color: #ff0000;
  }