.carousel_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(255,255,255,1) 16%, rgba(16,46,96,1) 100%);
    
}

.carousel_selector {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_primero {
    background-image: url(img/presentacion1.jpg);
}

