.cursos_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursos_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #102e60;
    color: #ec707e;
    font-weight: bold;
}

.cursos_logo {
    width: 40px;
    height: 200px;
}

.cursos_acordion_lista {
    list-style: circle;
}

.card-header {
    background-color: #c1c2cd !important;
    font-weight: 400;
    text-align: left !important;
    
}

.cursos_card_btn {
    border: 0;
    color: #ec707e;
    font-weight: bold;
    background-color: white;
}